@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .nav-items{
        @apply block font-bold px-4 py-4 text-[#949698]
    }
    .nav-after{
        @apply after:content-['\25bc'] after:rotate-90 after:ml-2 after:font-bold after:text-sm after:text-[#949698];
    }
}

.container {
    max-width: 1340px;
}

.nav li ul.sub-menu::before {
	content: '';
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -10px;
	display: block;
	left: calc(50% - 10px);
}
.sub-menu{
    display: none;
}

.nav li:hover ul.sub-menu, .nav li:hover ul.sub-menu:hover {
	display: block;
}
.hover-icons{
    margin-bottom: 11px;
}

.hover-icons:hover{
    transform: scale(1.1,1.1);
    background-color: #fdbb3e;
    color: #ffffff;
    border-top: 2px solid #ffffff;
}